body {
            font-family: Arial, sans-serif;
            background: url('https://cmsassets.rgpub.io/sanity/images/dsfx7636/news_live/b3ceff2c095ca3799116a3b45ae3a930721319d7-1920x1080.jpg?auto=format&fit=fill&q=80&w=1082') no-repeat center center fixed;
            background-size: cover;
            color: white;
            text-align: center;
            margin: 0;
            padding: 0;
            position: relative;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
        body::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
            z-index: 0;
        }
        header, main, footer {
            position: relative;
            z-index: 1;
        }
        header {
            background: rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 24px;
            font-weight: bold;
            position: relative;
        }
        h1, h2 {
            color: #eece00;
            text-shadow: 0 0 10px rgb(148, 161, 29), 0 0 20px rgb(148, 161, 29);
        }
        .download {
            margin-top: 50px;
            flex: 1;
        }
        .buttons {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
            margin-top: 20px;
        }
        .btn {
            background: #ff9800;
            color: white;
            padding: 20px 40px;
            text-decoration: none;
            border-radius: 10px;
            font-size: 22px;
            transition: 0.3s;
            font-weight: bold;
        }
        .btn:hover {
            background: #e68900;
        }
        .back-btn {
            position: absolute;
            top: 20px;
            left: 20px;
            background: #008CBA;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 18px;
            transition: 0.3s;
            font-weight: bold;
        }
        .back-btn:hover {
            background: #0073a1;
        }
        footer {
            padding: 20px;
            background: rgba(0, 0, 0, 0.8);
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            margin-top: auto;
        }