body {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #00162c;
            min-height: 100vh; /* toàn bộ chiều cao viewport */
            color: #ffffff;
            transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
        }
        
        .user-info {
    position: fixed;
    top: 40px;
    left: 20px;
    display: flex;            /* ĐỂ THẲNG HÀNG */
    align-items: center;      /* CĂN GIỮA THEO CHIỀU DỌC */
    gap: 10px;                /* KHOẢNG CÁCH GIỮA ICON VÀ CHỮ */
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.582);
    background-color: #023d7c94  ;
}
.container, .news-grid {
    flex: 1; /* chiếm không gian còn lại trước footer */
}
.user-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #012e5e;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

    
        header {
            background-color: #012e5e;
            padding: 20px;
            text-align: center;
            position: sticky;
            top: 0;
            z-index: 1000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            transition: background-color 0.3s ease;
        }

        header h1 {
            font-size: 3.5em;
            color: #f0e130;
            text-shadow: 0 0 10px rgb(148, 161, 29), 0 0 20px rgb(148, 161, 29);
            letter-spacing: 2px;
            margin: 0;

        }

        nav {
            display: flex;
            justify-content: center;
            top: 0;
            left: 0;
            width: 100%;
            align-items: center;
            margin-top: 15px;
            box-sizing: border-box;
            z-index: 100;
            transition: top 0.3s ease;
            /* Hiệu ứng mượt mà khi ẩn hiện */
        }

        nav a {
            text-decoration: none;
            color: #fff;
            margin: 0 20px;
            font-weight: bold;
            font-size: 1.2em;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }

        nav a.active {
            color: #f0e130;
            /* Màu vàng của Liên Minh Huyền Thoại */
        }

        nav a:hover {
            color: #f0e130;
        }

        .hero {
            text-align: center;
            padding: 90px 20px;
            background-size: cover;
            color: white;
            position: relative;
            
        }

        .hero h2 {
            font-size: 3em;
            text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
        }

        .container {
            padding: 20px;

        }

        .section {
            margin-bottom: 50px;
            position: relative;
            padding-top: 140px;
        }

        .section h3 {
            font-size: 3.0em;
            color: #f0e130;
            display: inline-block;
            margin-bottom: 20px;
        }

        .section h4 {
            font-size: 3.0em;
            color: #f0e130;
            display: inline-block;
            margin-bottom: 20px;
        }
        .card {
            background-color: #012e5e8a;
            border-radius: 10px;
            padding: 20px;
            margin: 10px 0;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            display: flex;
            align-items: center;
            transition: transform 0.2s ease-in-out;
        }

        .card:hover {
            transform: scale(1.013, 1.013);
        }

        .card img {
            max-width: 150px;
            border-radius: 10px;
            margin-right: 20px;
        }

        .new-section {
            background-color: #012e5e8a;
            padding: 20px;
            border-radius: 10px;
            margin-top: 20px;
        }


        .new-section h4 {
            font-size: 1.8em;
            color: #f0e130;
            margin-bottom: 10px;
        }

        
        footer {
            background-color: #012e5e;
            padding: 20px;
            text-align: center;
            position: relative;
            width: 100%;
            margin-top: 22%;
            transition: color 0.3s ease;

        }

        footer p {
            color: #b0b0b0;
            margin: 0;
            transition: color 0.3s ease;
        }

        footer a {
            color: #fff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        footer .social-icons {
            margin-top: 10px;

        }

        footer .social-icons a {
            color: #fff;
            margin: 0 15px;
            font-size: 1.5em;
            display: inline-flex;
            align-items: center;
        }

        footer .social-icons a img {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }

        footer .social-icons a:hover {
            color: #f0e130;
        }

        /* Scroll Animations */
        .fade-up {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        .fade-up.visible {
            opacity: 1;
            transform: translateY(0);
        }

        @media (min-width: 768px) {
            .card {
                display: flex;
                align-items: center;
            }

            .card img {
                max-width: 190px;
            }
        }

        .line {
            border: 0;
            border-top: 4px solid #f0e130;
            /* Màu sắc và độ dày của đường line */
            margin: 10px 0;
            /* Khoảng cách trên và dưới đường line */
        }

        /* Kiểu dáng nút mũi tên */
        .scroll-to-top {
            position: fixed;
            bottom: 30px;
            /* Khoảng cách từ dưới chân trang */
            right: 30px;
            /* Khoảng cách từ cạnh phải */
            background-color: #f0e03050;
            color: #fff;
            border-radius: 50%;
            width: 60px;
            /* Độ rộng của ô tròn */
            height: 60px;
            /* Độ cao của ô tròn */
            display: none;
            /* Ban đầu ẩn nút */
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
            cursor: pointer;
            transition: opacity 0.4s ease-out, transform 0.4s ease-out;
            display: flex;
            align-items: center;
            /* Căn giữa theo chiều dọc */
            justify-content: center;
            /* Căn giữa theo chiều ngang */
            font-size: 2em;

        }

        /* Hiệu ứng hover */
        .scroll-to-top:hover {
            background-color: #ffcc00a6;

        }
        .news-grid {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                /* 3 cột */
                gap: 20px;
                margin-top: 20px;
            }

            .news-item {
                background-color: #012e5e8a;
                border-radius: 8px;
                overflow: hidden;
                position: relative;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
                transition: transform 0.2s ease;
            }

            .news-item:hover {
                transform: scale(1.04);
            }

            .news-item img {
                width: 100%;
                height: 280px;
                object-fit: cover;
                border-bottom: 2px solid #f0e130;
            }

            .news-text {
                padding: 15px;
                color: #fff;
                font-size: 14px;
            }

            .news-text p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .news-text:hover p {
                white-space: normal;
                text-overflow: clip;
            }

            .more {
                display: none;
                color: #f0e130;
                font-weight: bold;
                cursor: pointer;
            }

            .news-item:hover .more {
                display: block;
            }

            .news-text .more:hover {
                text-decoration: underline;
            }
        
            .light-mode {
            background-color: #ffffff;
            color: #000000;
        }

        .card, .header, footer {
            transition: background-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        }

        .light-mode .card {
            background-color: #cce7ff;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .light-mode .header, .light-mode footer {
            background-color: #2a75bb;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }
        .light-mode .user-info {
            background-color: #2a75bb;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }
        .toggle-button {
            position: fixed;
            top: 28px;
            right: 20px;
            background-color: #f0e130;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
        }
        
        .toggle-button_DangNhap {
            position: fixed;
            top: 18px;
            right: 20px;
            background-color: #f0e130;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.582);

        }

        .toggle-button:hover {
            background-color: #d1c02f;
            transform: scale(1.1);
        }
        .toggle-button_DangNhap:hover {
            background-color: #d1c02f;
            transform: scale(1.1);
        }
        
        
        .toggle-button_DangKy {
            position: fixed;
            top: 78px;
            right: 20px;
            background-color: #f0e130;
            border: none;
            padding: 12px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.582);

        }

        .toggle-button:hover {
            background-color: #d1c02f;
            transform: scale(1.1);
        }
        .toggle-button_DangKy:hover {
            background-color: #d1c02f;
            transform: scale(1.1);
        }

    
    .tintucmoinhat-link{
        text-align: center;
            padding: 90px 20px;
            background-size: cover;
            color: white;
            position: relative;
    }
    .more-link {
  display: inline-block;
  color: #FFD700;
  text-decoration: underline;
  text-decoration-color: #FFD700;
  margin-top: 10px;
  margin-bottom: 5px;
}
.more-link {
  display: block;
  text-align: center;
}
.user-menu {
    position: absolute;
    top: 120px; /* chỉnh theo layout */
    left: 20px;
    font-size: 17px;
    background: #ffffff;
    color: #000;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    display: none; /* Ẩn mặc định */
    z-index: 1000;
}

.user-menu .menu-item {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.user-menu .menu-item:hover {
    background: #f0f0f0;
}
.user-icon {
    transition: transform 0.15s ease, background-color 0.2s;
    cursor: pointer;
}

.user-icon:hover {
    transform: scale(1.15); /* phóng to 15% */
}
.user-icon:active {
    transform: scale(1); /* thu nhỏ nhẹ khi click */
}


#TRANGTHAI {
    font-size: 14px;   /* bé hơn */
    font-weight: 500;
    margin-top: 5px;
    color: #dbdbdb;
}


        