body {
            font-family: "Poppins", sans-serif;
            background-color: #0a0f1a;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        .settings-container {
            width: 90%;
            max-width: 800px;
            margin: 40px auto;
            background: rgba(255,255,255,0.05);
            padding: 20px;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            font-size: 28px;
        }
        
        .setting-section {
            margin-bottom: 25px;
            background: rgba(255,255,255,0.03);
            padding: 15px;
            border-radius: 10px;
        }

        .setting-section h2 {
    margin: 0 ;
    font-size: 25px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 5px;
    color: #a8d5ff;          /* làm sáng chữ hơn */
    text-shadow: 0 10 15px rgb(33, 158, 207), 0 0 20px rgb(55, 174, 221);
}

        label {
            display: block;
            margin: 8px 0 5px;
        }

        select, input[type="checkbox"], input[type="range"] {
            margin-top: 5px;
        }

        .save-btn {
            width: 100%;
            padding: 12px;
            font-size: 16px;
            border: none;
            background: #1e90ff;
            color: #fff;
            margin-top: 10px;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.2s;
        }

        .save-btn:hover {
            background: #1175d1;
        }

    #EmailHienThi, #TenHienThi {
    font-size: 23px;   /* nhỏ hơn chữ mặc định */
    color: #a8a6a6;       /* màu hơi nhạt để dễ nhìn */
    margin-bottom: 5px;
}